<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>
<!-- <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> -->


<style>




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



    .electronicsandlaptop {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        /* border: 1px solid black; */
        box-shadow: 1px 17px  hsla(0, 2%, 75%, 0.726);
border-radius: 5px;
    }
body{
   padding: 0;
   margin: 0;
}

    .laptop {
      
        height: 290px;
        width: 236px;
        margin-left: 2px;

        margin-top: 10px;
        text-align: center;
        outline: none;
    }
    .laptopimage{
        height: 55%;
        width: 87%;
    }

    p{
        line-height: 60%;
    }
    .main{
        color: black;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .sub{
        color: green;
    font-family: 'Montserrat', sans-serif;
    }
    .company{
        color: gray;
        font-family: 'Quicksand', sans-serif;
        
    }
    h2{
        margin-left: 5%;
    }


    .laptopimage:hover {
  transform: scale(1.1); 
}


</style>

<h2>Best of Electronics Devices</h2>
<div class="electronicsandlaptop">
  
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/k0plpjk0/remote-control-toy/9/g/k/4-function-remote-control-high-speed-big-racing-car-toy-funkey-original-imafkg33umd8dy93.jpeg?q=70" alt="">

        <p class="main">Remote Control Toys</p>
        <p class="sub">Up to 80% off</p>
        <p class="company">Buy Now!</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/312/312/kp2y2kw0/computer/y/0/c/na-thin-and-light-laptop-asus-original-imag3ebnzawky4kn.jpeg?q=70" alt="">

   <p class="main">laptop</p>
   <p class="sub">From ₹32,990</p>
   <p class="company">ASUS VIvo Book</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70" alt="">
        <p class="main">Top Mirrorless Cameras</p>
        <p class="sub">Shop Now!</p>
        <p class="company">Canon,Sony..</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kx50gi80/projector/r/9/p/zeb-pixa-play-12-5-6-dobly-audio-led-projector-zebronics-original-imag9z3yujqmzqt4.jpeg?q=70" alt="">

        <p class="main">projector</p>
        <p class="sub">From ₹9,999</p>
        <p class="company">Zebronics</p>
    </div>
</a>
<a href="#">
    <div class="laptop">


        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/printer/j/j/y/hp-laserjet-m1005-multifunction-original-imadxhzpeb9qbrfg.jpeg?q=70" alt="">
        <p class="main">Printers</p>
        <p class="sub">From ₹3,999</p>
        <p class="company">HP</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kynb6vk0/monitor/1/n/s/lf22t354fhwxxl-full-hd-22-lf22t354fhwxxl-samsung-original-imagats2rjbg9uhv.jpeg?q=70" alt="">

        <p class="main">Monitors</p>
        <p class="sub">From ₹9,999</p>
        <p class="company">SAMSUNG</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/312/312/l2ghgnk0/television/u/a/c/l32m7-5ain-mi-original-imagdsdwqf6bkmkz.jpeg?q=70" alt="">
        <p class="main">Led Tv</p>
        <p class="sub">From ₹13,999</p>
        <p class="company">Mi 5A led Tv</p>
    
    </div>
</a>




</div>


<!-- -------------------------------------------------------------------------- -->


<h2>Best of Winter Essentials</h2>
<div class="electronicsandlaptop">
  
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/sweatshirt/g/m/l/m-fc6049-fastcolors-original-imaggfhpzcjxm68f.jpeg?q=70" alt="">

        <p class="main">Men's Sweatshirts</p>
        <p class="sub">Min.50% Off</p>
       
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kxqg2a80/muffler/o/p/v/free-rs-127-radhe-sales-original-imaga4jkke5whzmy.jpeg?q=70" alt="">

   <p class="main">Man's Mufflers</p>
   <p class="sub">Min.50% Off</p>
 
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/blanket/j/l/k/la-blanket-solid-grey-la-blanket-solid-grey-la-verne-original-imagjztzhbycaf4y.jpeg?q=70" alt="">
        <p class="main">Blankets</p>
        <p class="sub">Min.50% Off</p>
       
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/room-heater/q/l/f/750w-radiant-room-home-office-heaters-for-winter-1-portable-room-original-imagjntwc4tqsrpe.jpeg?q=70" alt="">

        <p class="main">Room Heaters</p>
        <p class="sub">Min.50% Off</p>
        
    </div>
</a>
<a href="#">
    <div class="laptop">


        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kz8qsnk0/mosquito-net/h/1/p/double-bed-polyester-adults-blue-mosquito-net-double-bed-nets-original-imagbagfgnfvnquj.jpeg?q=70" alt="">
        <p class="main">Mosquito Nets</p>
        <p class="sub">Min.50% Off</p>
        
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/knhsgi80/racquet/a/0/u/g4-3-25-inches-g-force-3700-superlite-strung-1-g-force-superlite-original-imag25n4h7gjgrc2.jpeg?q=70" alt="">

        <p class="main">Ultra Premimum Racquets</p>
        <p class="sub">Min. 50% Off</p>
      
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/blanket/j/h/1/super-soft-mink-blankets-vi563-homekart-original-imaggvmqgjfgjkcm.jpeg?q=70" alt="">
        <p class="main">Blankets</p>
        <p class="sub">Min. 50% Off</p>
        
    
    </div>
</a>




</div>


<!-- -------------------------------------------------- -->




<h2>Grooming, Books, Auto & more</h2>
<div class="electronicsandlaptop">
  
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/acoustic-guitar/e/y/y/dd-380c-blk-jixing-original-imaeff94e9tczafp.jpeg?q=70" alt="">

        <p class="main">String Instruments</p>
        <p class="sub">Up to 70% off</p>
        <p class="company">Guitars,Ukuleles & More</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kebpqq80/musical-keyboard/j/h/h/37-keys-nj-fashion-original-imafvyhrjeuah2ge.jpeg?q=70" alt="">

   <p class="main">Musical Keyboards</p>
   <p class="sub">Up to 70% Off</p>
   <p class="company">Beston,Redbox & more</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/k186fm80/bat/9/f/n/1000-1200-short-handle-endorsed-for-light-hard-tennis-ball-with-original-imafkuuyxrrphkbr.jpeg?q=70" alt="">
        <p class="main">Cricket,Football & More</p>
        <p class="sub">Up to 70% Off</p>
        <p class="company">Ceat,Nivia,Li-Ning...</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/l51d30w0/shopsy-sport-mat/p/w/s/anadi-01-yoga-mat-4-30-anadi-enterprise-15-original-imagfsxudxcm7r48.jpeg?q=70" alt="">

        <p class="main">Yoga Mat</p>
        <p class="sub">From ₹160</p>
        <p class="company">beatXP,HRX & Adrenex</p>
    </div>
</a>
<a href="#">
    <div class="laptop">


        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kiqbma80-0/musical-toy/s/k/b/xylophone-guitar-wooden-kids-first-musical-sound-instrument-toy-original-imafyfszcjkjcwwz.jpeg?q=70" alt="">
        <p class="main">Musical Toys</p>
        <p class="sub">Under ₹199</p>
        <p class="company">Top Selling Toys</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/jlph9jk0/cycle/h/f/k/skyper-26t-sskp26bk0001-16-hero-original-imaf8ru5xysfgtmx.jpeg?q=70" alt="">

        <p class="main">Premium Non-Geared Cycles</p>
        <p class="sub">Up to 40% Off</p>
        <p class="company">Heroules, Hero & More</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kx50gi80/pen/h/z/k/119766-flair-original-imag9nzubznagufg.jpeg?q=70" alt="">
        <p class="main">Top Selling Stationery</p>
        <p class="sub">From ₹49</p>
        <p class="company">Pens,Notebookes & more</p>
    
    </div>
</a>




</div>

<!-- ------------------------------------------------- -->




<h2>Foods</h2>
<div class="electronicsandlaptop">
  
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/kl9rssw0/fmcg-combo/c/q/c/ayurveda-for-performance-ashwagandha-1000mg-60-tablets-tribulus-original-imagyfnyncfqhhcr.jpeg?q=70" alt="">

        <p class="main">Muscleblaze Ayurveda</p>
        <p class="sub">Upto 30% off</p>
        <p class="company">Big Discounts</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/kzygpzk0/fmcg-combo/r/w/0/premium-quality-arhar-and-moong-mogar-dal-combo-750-g-each-6-original-imagbuvdyysmegpw.jpeg?q=70" alt="">

   <p class="main">Goshudh Premium Quality Arhar</p>
   <p class="sub">From ₹450</p>
   <p class="company">Moong Mogar Dal</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/l16rde80/fmcg-combo/s/x/q/healthy-namkeen-combo-multigrain-classic-400g-multigrain-minty-original-imagcsvpssvmb7qa.jpeg?q=70" alt="">
        <p class="main">Samsug Galaxy Tabs</p>
        <p class="sub">Shop Now!</p>
        <p class="company">Best Sellers | Most Wishlisted</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/kiqbma80-0/fmcg-combo/1/m/j/signature-gift-box-nutty-gritties-original-imafygbqgzqgghdj.jpeg?q=70" alt="">

        <p class="main">Namkeen Combo Multigrain</p>
        <p class="sub">From ₹397</p>
        <p class="company">Multigrain</p>
    </div>
</a>
<a href="#">
    <div class="laptop">


        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/l0lbrm80/shopsy-festive-gift-box/r/o/q/7-11-pieces-chocolate-trayholi-chocolate-gift-holi-gift-original-imagccgdgebuzukj.jpeg?q=70" alt="">
        <p class="main">Chocolate Gift</p>
        <p class="sub">From ₹289</p>
        <p class="company">KitKat & Dairy Milk..</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/l0fm07k0/fmcg-combo/e/7/9/sweets-or-holi-colours-festival-combo-desi-ghee-soan-papadi-200-original-imagc7wdamnj23g4.jpeg?q=70" alt="">

        <p class="main">Desi Ghee Soan papad...</p>
        <p class="sub">From ₹259</p>
        <p class="company">Yubraj Food Product</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/612/612/kksmikw0/fmcg-combo/v/4/0/festival-combo-sweets-and-namkeen-combo-pack-of-4-combo-yuvraj-original-imagyfj8hahmnttb.jpeg?q=70" alt="">
        <p class="main">Combo-Sweets..</p>
        <p class="sub">From ₹397</p>
        <p class="company">Yubraj Food Product</p>
    
    </div>
</a>




</div>









<!-- ---------------------------------------------- -->



<h2>Top Deals</h2>
<div class="electronicsandlaptop">
  
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/ks4yz680/sticker/d/g/t/wall-stickers-wallpaper-home-decoration-whale-and-shaded-frames-original-imag5rvjdvrjdzgc.jpeg?q=70" alt="">

        <p class="main">Stickers & Wallpapers</p>
        <p class="sub">Upto 80% off</p>
        <p class="company">Big Discounts</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/flap/200/200/image/679c9ee1d28379f0.jpg?q=70" alt="">

   <p class="main">Mobile Back Covers</p>
   <p class="sub">From ₹99</p>
   <p class="company">For All Top Models</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/ky7lci80/tablet/e/d/m/sm-x205nzaeinu-samsung-original-imagahrshg78gwvb.jpeg?q=70" alt="">
        <p class="main">Samsug Galaxy Tabs</p>
        <p class="sub">Shop Now!</p>
        <p class="company">Best Sellers | Most Wishlisted</p>
    
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/battery-charger/p/5/i/-original-imaggwxepcugva5z.jpeg?q=70" alt="">

        <p class="main">Grab Now</p>
        <p class="sub">From ₹49</p>
        <p class="company">Charger,Cables & More</p>
    </div>
</a>
<a href="#">
    <div class="laptop">


        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/kzsqykw0/mobile-camera-lens-protector/p/g/v/yes-cp-12-zoy-original-imagbqghwbumu4qj.jpeg?q=70" alt="">
        <p class="main">Camera Lens Product</p>
        <p class="sub">From ₹99</p>
        <p class="company">For All Top Models</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/ktop5e80/tablet/x/9/o/mk2k3hn-a-apple-original-imag6yy7xjjugz4w.jpeg?q=70" alt="">

        <p class="main">Apple iPads</p>
        <p class="sub">Shop Now!</p>
        <p class="company">Liquid Retina Display</p>
    </div>
</a>
<a href="#">
    <div class="laptop">

        <img class="laptopimage" src="https://rukminim1.flixcart.com/image/200/200/xif0q/tablet/y/a/y/-original-imaggfrhvghucswf.jpeg?q=70" alt="">
        <p class="main">Top Selling Stationery</p>
        <p class="sub">From ₹49</p>
        <p class="company">Pens,Notebookes & more</p>
    
    </div>
</a>




</div>


