<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        .div {
            background-color: #172337;
            height: 350px;
            width: 600px;
            /* margin: 2px; */
            /* margin: solid; */


        }

        .container {
            display: flex;


        }

        .underdivcomponent {
            color: rgb(107, 109, 110);
            padding-top: 20px;
            font-size: 13px;
            font-family: 'Roboto Condensed', sans-serif;
        }

        .linkup {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .linkup:hover{
            text-decoration: underline;
        }

        .div {
            padding-left: 50px;
        }
        p{
            color: white;
            font-size: 14px;
            font-family: 'Roboto Condensed', sans-serif;
            
        }
   
    </style>
</head>

<body>
    <footer>
        
        <div class="container">
            <div class="div">

                <p class="underdivcomponent">ABOUT</p>
                <br>
                <a class="linkup" href="#">Contact Us</a><br>
                <br>

                <a class="linkup" href="#">About Us</a><br><br>
                <a class="linkup" href="#">Careers</a><br><br>
                <a class="linkup" href="#">Productkart Stories</a><br><br>
                <a class="linkup" href="#">Press</a><br><br>
                <a class="linkup" href="#">Corporate information</a><br><br>
                
            </div>
            <div class="div">

                <p class="underdivcomponent">HELP</p>
<br>
                <a class="linkup" href="#">Payments</a><br>
                <br>

                <a class="linkup" href="#">Shipping</a><br><br>
                <a class="linkup" href="#">Cancellation</a><br><br>
                <a class="linkup" href="#">FaQ</a><br><br>
                <a class="linkup" href="#">Report Infringement</a><br><br>

            </div>
            <div class="div">

                <p class="underdivcomponent">SOCIAL</p>
<br>
                <a class="linkup" href="https://www.facebook.com/profile.php?id=100037125258210">Facebook</a><br>
                <br>

                <a class="linkup" href="#">Twitter</a><br><br>
                <a class="linkup" href="#">Youtube</a><br><br>
                
            </div>
            <div class="div">
                <p class="underdivcomponent">POLICY</p>
                <br>
                <a class="linkup" href="#">Return Pollcy</a><br>
                <br>

                <a class="linkup" href="#">Terms of Use</a><br><br>
                <a class="linkup" href="#">Security</a><br><br>
                <a class="linkup" href="#">Privacy</a><br><br>
                <a class="linkup" href="#">Sitemap</a><br><br>
                <a class="linkup" href="#">EPR Compliance</a><br><br>

            </div>
            <div class="div">
                <p class="underdivcomponent">Mail Us:</p>
                <br>
                <p>Productkart Internet Privet Limited,</p>
                <p>Building Ranabanda,Chapra,Nadia</p>
                <p>Pin- 741123</p>
            </div>
            <div class="div">
                <p class="underdivcomponent">Registered Office Address</p>
                <br>
                <p>Ranabanda,Chapra,Nadia,741123 </p>
                <p>Ranabanda,Nadia</p>
                <p>☎️ 91+8101421053</p>
            </div>

        </div>
   
    </footer>

</body>

</html>