
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<%-include("basic/header");%>

    <style>
        .GSTContain {
            /* background-color: black; */
            height: 20%;
            width: 90%;
            margin: auto;

        }

        .imagetaga {
            /* background-color: black; */
            height: 500px;
            width: 80%;
            margin-top: 40px;
            position: absolute;
            /* left: 4%; */
            font-size: 0;
            position: absolute;
            left: 20%;

        }

        .discoundbanner {
            height: 80%;
            width: 70%;
            margin: 0;
            padding: 0;
        }

        hr {
            margin-top: 700px;
        }

        h2 {
            text-align: center;
        }

        /* .item {
            color: gray;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
        } */

        .zeiss {
            margin-top: 900px;
            height: 240px;
            width: 90%;
            /* background-color: black; */
            position: absolute;
            left: 9%
        }

        .zeisspic {
            height: 100%;
            width: 90%;
        }

        h1 {
            text-align: center
        }

        /* ---------------------------------- */



        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



        .electronicsandlaptop {
            display: flex;
            margin-left: 5%;
            margin-right: 5%;
            /* border: 1px solid black; */
            box-shadow: 1px 17px hsla(0, 2%, 75%, 0.726);
            border-radius: 5px;
        }

        body {
            padding: 0;
            margin: 0;

        }

        .laptop {

            height: 290px;
            width: 236px;
            margin-left: 2px;

            margin-top: 10px;
            text-align: center;
            outline: none;

        }

        .laptopimage {
            height: 55%;
            width: 87%;

        }

        p {

            color: rgb(0, 0, 0);
        }

        .main {
            color: black;
            font-family: 'Roboto Condensed', sans-serif;

        }

        .sub {
            color: green;
            font-family: 'Montserrat', sans-serif;

        }

        .company {
            color: gray;
            font-family: 'Quicksand', sans-serif;
            text-decoration: none;

        }

        h2 {
            margin-left: 5%;
        }


        .laptopimage:hover {
            transform: scale(1.1);
        }

        .main {
            text-decoration: none;
        }

        .sub {
            text-decoration: none;
        }

        .supercoin {
            height: 85%;
            width: 85%;
        }

        /* ---------------------------------- */
        .laptop p {
            text-decoration: none;
        }

        .supercontainer {
            height: 18px;
            width: 18px;
            position: absolute;
            top: 183.2%;
            left: 11.8%;
        }
        .supercontainer2{
            height: 18px;
            width: 18px;
            position: absolute;
            top: 183.2%;
            left: 24.8%;
        }
        .supercontainer3{
            height: 18px;
            width: 18px;
            position: absolute;
            top: 183.2%;
            left: 37.8%;
        }
        .paragraph {
            color: black;
        }

        p {
            text-decoration: none;
            line-height: 30%;
            stroke: 50px gray;
            float: left;

        }

        .mobile-accessories {
            margin-top: 70%;
        }

        .company {
            font-size: 12px;
        }



        /* ----------------------------------------------------------------- */






        
    </style>



    </head>

    <body>
        <div class="GSTContain">

            <h4>GST Store</h4>
            Cameras are being used widely today for various reasons. The picture taken from a
            smartphone may be good but not
            the same as taken with a good quality camcorder. Whether you are a beginner or professional, you can opt
            for DSLR ones
            and get more confident in your photography skills. One of the best things to check online is the latest
            camcorder and
            compare them with different models from the comfort of your home. DSLR comes with features like high
            shutter speed, a
            large sensor area, better sensitivity to light, the use of different lenses for different purposes, and
            more reasons
            that allure photographers to buy them online. They are available in colours like black, blue, and
            silver. They come
            with sensor types CCD, CMOS, MOS, and BSI CMOS. You can explore options like Canon EOS 15000 DSLR, Canon
            EOS 3000
            DSLR, and more as they come with Wi-Fi connectivity and 1080p on 30fps video recording. Check and
            compare prices to make an informed decision. Check out
            various brands available online such as Canon, Nikon, Sony, Panasonic, Samsung, etc. So,
            hurry up and add a camera to your shopping cart, place your order by making payment through secured
            gateways and have
            them delivered to your doorstep hassle-free.

        </div>


        <div class="imagetaga">
            <img class="discoundbanner"
                src="https://images.unsplash.com/photo-1616423640778-28d1b53229bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
            <img class="discoundbanner"
                src="https://images.unsplash.com/photo-1460134846237-51c777df6111?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">

        </div>

        <!-- <%-include("basic/footer");%> -->


        <div class="zeiss">
            <h1>Show Our Products</h1>
            <img class="zeisspic"
                src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                alt="">


        </div>













        <div class="mobile-accessories">
            <hr>

            <h2>Camera Available</h2>
            <!-- <p class="item">8 item</p> -->




            <div class="electronicsandlaptop">

                <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/312/312/jfbfde80/camera/n/r/n/canon-eos-eos-3000d-dslr-original-imaf3t5h9yuyc5zu.jpeg?q=70"
                            alt="">


                        <p>DSLR</p>
                        <p class="main">₹30,999</p>
                        <p class="company"><strike>₹33,995</strike>
                        <p class="sub">50% off</p>
                        </p>
                        <p>Or Pay ₹30,499 + &nbsp; &nbsp; &nbsp;500</p>
                        <div class="supercontainer">


                            <img class="supercoin"
                                src="https://rukminim1.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90"
                                alt="">
                        </div>

                    </div>
                </a>
                <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/312/312/k1jlyfk0/dslr-camera/b/c/a/90d-eos-90d-canon-original-imafh3b6jvmzyesh.jpeg?q=70"
                            alt="">

                        <p>DSLR</p>
                        <p class="main">₹1,21,990</p>
                        <p class="company"><strike>₹1,36,995</strike>
                        <p class="sub">10% off</p>
                        </p>
                        <p>Or Pay ₹30,499 + &nbsp; &nbsp; &nbsp;500</p>
                        <div class="supercontainer2">


                            <img class="supercoin"
                                src="https://rukminim1.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90"
                                alt="">
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/300/300/kvvad8w0/sports-action-camera/k/x/f/spy-magnet-camera-wifi-hidden-camera-wireless-hd-1080p-indoor-original-imafxeen9r3zepwy.jpeg?q=90"
                            alt="">
                        
                            <p>DSLR</p>
                            <p class="main">₹899</p>
                            <p class="company"><strike>₹7,235</strike>
                            <p class="sub">80% off</p>
                            </p>
                            <p>Or Pay ₹30,499 + &nbsp; &nbsp; &nbsp;500</p>
                            <div class="supercontainer3">
    
    
                                <img class="supercoin"
                                    src="https://rukminim1.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90"
                                    alt="">
                            </div>
                    </div>
                </a>
                <!-- <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/200/200/jt8yxe80/data-cable/micro-usb-cable/u/y/2/boat-micro-usb-100-original-imafem42xhngwj7z.jpeg?q=70"
                            alt="">
                        <p class="main">Mobile Cables</p>
                        <p class="sub">From ₹99</p>
                        <p class="company">By top Brands</p>
                    </div>
                </a>
                <a href="#">
                    <div class="laptop">


                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/200/200/j5mrxjk0/screen-guard/tempered-glass/c/6/x/case-creation-colored-temp-model-i7-09-original-imaeusrzsme9bhgh.jpeg?q=70"
                            alt="">
                        <p class="main">Tempered Glass</p>
                        <p class="sub">From ₹129</p>
                        <p class="company">Protect Your Phone</p>
                    </div>
                </a>
                <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/200/200/xif0q/cases-covers/back-cover/c/l/q/acs04369-spigen-original-imaggcgh4rzff6kf.jpeg?q=70"
                            alt="">

                        <p class="main">Premium Mobile Covers</p>
                        <p class="sub">From ₹359</p>
                        <p class="company">From Kapaver,Spigen & More</p>
                    </div>
                </a>
                <a href="#">
                    <div class="laptop">

                        <img class="laptopimage"
                            src="https://rukminim1.flixcart.com/image/200/200/xif0q/screen-expander-phone/w/e/l/2x4-12-hd-screen-magnifier-for-mobile-phone-magnifing-screen-original-imaggnfwjdrzhesg.jpeg?q=70"
                            alt="">
                        <p class="main">Screen Phone Expander</p>
                        <p class="sub">gRAB IT!</p>
                        <p class="company">For viewing pleasure</p>

                    </div>
                </a>
 -->



            </div>
          
           
        </div>

      
<div>
    
</div>
















    </body>
    </html>

