<%-include("basic/header");%>
    <%-include("basic/subcatagori");%>
        <style>
            .GSTContain {
                /* background-color: black; */
                height: 20%;
                width: 90%;
                margin: auto;

            }

            .imagetaga {
                background-color: black;
                height: 500px;
                width: 90%;
                margin-top: 140px;
                position: absolute;
                left: 5%;
            }

            .discoundbanner {
                height: 100%;
                width: 100%;
            }

            hr {
                margin-top: 700px;
            }

            h2 {
                text-align: center;
            }

            #item {
                color: gray;
                text-align: center;
            }


            /* ---------------------------------- */



            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



            .electronicsandlaptop {
                display: flex;
                margin-left: 5%;
                margin-right: 5%;
                /* border: 1px solid black; */
                box-shadow: 1px 17px hsla(0, 2%, 75%, 0.726);
                border-radius: 5px;
            }

            body {
                padding: 0;
                margin: 0;
            }

            .laptop {

                height: 290px;
                width: 236px;
                margin-left: 2px;

                margin-top: 10px;
                text-align: center;
                outline: none;
            }

            .laptopimage {
                height: 55%;
                width: 87%;
            }

            p {
                line-height: 60%;
            }

            .main {
                color: black;
                font-family: 'Roboto Condensed', sans-serif;
            }

            .sub {
                color: green;
                font-family: 'Montserrat', sans-serif;
            }

            .company {
                color: gray;
                font-family: 'Quicksand', sans-serif;

            }

            h2 {
                margin-left: 5%;
            }


            .laptopimage:hover {
                transform: scale(1.1);
            }

            /* ---------------------------------- */
        </style>



        </head>

        <body>
            <div class="GSTContain">

                <h4>GST Store</h4>
                If you are planning to make electronics bulk purchases, then you can avail GST benefits
                on electronics by making your purchase through the electronics GST store. There are many benefits
                of buying electronic goods online. You get your products delivered to your home, there is a wide
                range of options to choose from,
                there are user reviews and ratings, and you can also compare the prices before placing your order.
                Apart from these benefits, the online GST
                store also offers GST benefits. GST ensures that the prices of consumer electronic products are
                standardized between online and offline stores,
                and there are no additional taxes that you have to pay on your purchases. On e-stores, you can avail
                18% GST benefits on iPads, iPad Pro, iPad Mini,
                Samsung Galaxy Tab S7+, Lenovo IdeaPad, Honor Pad 5, DSLR and mirrorless cameras, and on camera
                accessories. You can also avail 23% GST on desktops,
                premium laptops, deals on gaming laptops, best-selling laptops, thin and light laptops, and on DSLR
                and mirrorless cameras. When you buy any of the
                products from the GST store, you receive a GST invoice on electronics to avail various GST benefits.
                So, log on to your favorite online store and buy
                electronic products in bulk.

            </div>


            <div class="imagetaga">



                <img class="discoundbanner" src="https://gsthero.com/wp-content/uploads/2019/12/gst-on-discounts.png"
                    alt="">


            </div>



            <div class="mobile-accessories">
                <hr>

                <h2>Mobile Accessories</h2>
                <p id="item">8 item</p>




                <div class="electronicsandlaptop">

                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/klfhk7k0/mobile-phone-lens/x/k/o/3-in-1-universal-clip-lens-fish-eye-macro-wide-angle-red-mobile-original-imagykf46dz4s27w.jpeg?q=70"
                                alt="">

                            <p class="main">Mobile phone Lens</p>
                            <p class="sub">Grab is!</p>
                            <p class="company">Explore your photography skill</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/k3rmm4w0/cleaning-kit/z/t/g/gel124-screen-cleaning-gel-kit-stylie-modern-alternatives-original-imafm6qqt9utwnvz.jpeg?q=70"
                                alt="">

                            <p class="main">Mobile Cleaning kits</p>
                            <p class="sub">Clean up your device</p>
                            <p class="company">Maintain General Hygiene</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/xif0q/cases-covers/d/0/u/-original-imaggfv7jmrpccvt.jpeg?q=70"
                                alt="">
                            <p class="main">Flip Covers</p>
                            <p class="sub">From ₹179</p>
                            <p class="company">Trendy Collection</p>

                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/jt8yxe80/data-cable/micro-usb-cable/u/y/2/boat-micro-usb-100-original-imafem42xhngwj7z.jpeg?q=70"
                                alt="">
                            <p class="main">Mobile Cables</p>
                            <p class="sub">From ₹99</p>
                            <p class="company">By top Brands</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">


                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/j5mrxjk0/screen-guard/tempered-glass/c/6/x/case-creation-colored-temp-model-i7-09-original-imaeusrzsme9bhgh.jpeg?q=70"
                                alt="">
                            <p class="main">Tempered Glass</p>
                            <p class="sub">From ₹129</p>
                            <p class="company">Protect Your Phone</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/xif0q/cases-covers/back-cover/c/l/q/acs04369-spigen-original-imaggcgh4rzff6kf.jpeg?q=70"
                                alt="">

                            <p class="main">Premium Mobile Covers</p>
                            <p class="sub">From ₹359</p>
                            <p class="company">From Kapaver,Spigen & More</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="laptop">

                            <img class="laptopimage"
                                src="https://rukminim1.flixcart.com/image/200/200/xif0q/screen-expander-phone/w/e/l/2x4-12-hd-screen-magnifier-for-mobile-phone-magnifing-screen-original-imaggnfwjdrzhesg.jpeg?q=70"
                                alt="">
                            <p class="main">Screen Phone Expander</p>
                            <p class="sub">gRAB IT!</p>
                            <p class="company">For viewing pleasure</p>

                        </div>
                    </a>




                </div>

            </div>
            <%-include("basic/footer");%>
        </body>

        </html>